
.card-container{
    display: flex; 
    flex-direction: column;
    height: auto;
    margin-top: 100px;
    align-items: center;
    justify-content:space-evenly;
}

.grid-card-container{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items:center;
    justify-content:space-evenly;
    max-width: 800px;
    max-height: 800px;
}

@media (max-width: 768px) {
    .card-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-height:400px;        
    }

    .grid-card-container{
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content:space-evenly;
        max-width: 400px;
        max-height:500px;
    }

    .dashboard-container {
        display: flex;
        flex-wrap: wrap;
    }
 
}